$color-dark-3xl: #292929;
$color-dark-xl: #4c4c4c;
$color-dark-l: #545454;
$color-dark-s: #cdcdcd;
$color-light-x: #ffffff;
$color-primary: #f1cdb3;

html {
  width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
body {
  background: #fff;
  color: #4c4c4c;
  font-family: Arial, sans-serif;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

h1,
h2,
h3 {
  font-family: Georgia, serif;
}

.wrapper__promo {
  background: radial-gradient(
      237.5% 111.8% at 0% 0%,
      rgb(91, 72, 58) 0%,
      rgb(38, 36, 37) 100%
    ),
    url(/shelter/images/img/start-screen-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 908px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header {
  max-width: 1200px;
  padding: 30px 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-height: 60px;
  &__logo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &-title {
      font-family: Georgia, serif;
      font-size: 32px;
      line-height: 110%;
      letter-spacing: 0.06em;
      color: $color-primary;
    }
    &-subtitle {
      color: $color-light-x;
      font-weight: 200;
      font-size: 13px;
      letter-spacing: 0.1em;
    }
  }
  a {
    color: $color-dark-s;
    text-decoration: none;
    position: relative;

  }
  &__nav {
    &-list {
      display: flex;
      justify-content: space-between;
      width: 443px;
      list-style: none;
      padding: 0;
      margin: 0;
    }
    &-link {
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -4px;
            width: 0;
            height: 2px;
            background-color: $color-primary;
            transition: width 0.3s ease;
          }
      
          &:hover::after {
            width: 100%;
          }
    }
  }
}
